{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

    <h1>Добро пожаловать на {{caption}}!</h1>
        <br>
        <h4>{{caption}} - это ваш надежный источник информации и развлечений, посвященных кошкам. Здесь вы найдете множество интересных статей, фотографий и советов по уходу за вашими пушистыми друзьями.</h4>
        <br>
        <h5>Наш сайт создан для всех любителей кошек, которые хотят больше узнать о своих питомцах, их повадках и особенностях. Мы регулярно обновляем контент, чтобы вы всегда могли найти что-то новое и интересное.</h5>
        <br>
        <p>На главной странице вы найдете последние новости и статьи о кошках. Мы стараемся освещать самые актуальные и интересные темы, чтобы вы всегда были в курсе последних событий в мире кошек.</p>
        <br>
        <p>В разделе "Второстепенная" вы найдете дополнительные материалы, которые помогут вам лучше понять ваших питомцев. Это могут быть советы по воспитанию, уходу и здоровью кошек.</p>
        <br>
        <p>Мы рады приветствовать вас на нашем сайте и надеемся, что вам здесь понравится. Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами через раздел контактов.</p>
        <br>
        <p>Наша команда состоит из опытных любителей кошек, которые готовы поделиться своими знаниями и опытом с вами. Мы верим, что каждый кот заслуживает любви и заботы, и мы готовы помочь вам в этом.</p>
        <br>
        <p>Присоединяйтесь к нашему сообществу, чтобы быть в курсе всех новостей и событий. Подписывайтесь на нашу рассылку и следите за обновлениями на сайте.</p>
        <br>
        <p>Спасибо, что выбрали {{caption}}. Мы уверены, что ваш питомец будет счастлив, а вы найдете здесь много полезной информации и приятных моментов.</p>
        <br>
        <h5>Оставайтесь с нами, и мы будем радовать вас новыми интересными материалами. Добро пожаловать в мир кошек с {{caption}}!</h5>
{% endblock %}