{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatDjango</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    {% block title %}

    {% endblock %}
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-0">
                <aside class="d-flex flex-column align-items-center">
                    <img src="{% static 'main/img/cat.jpg' %}" alt="Весёлый котик" class="img-fluid">
                    <span>CatDjango</span>
                    <ul>
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'page2' %}">Второстепенная</a></li>
                        <li><a href="{% url 'news_home' %}">Новостная страница</a></li>
                        <li><a href="{% url 'add_news' %}">Добавить новость</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <main>
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>